div {
  border: 3px solid white;
}
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  align-text: center;
}
/*--          header        --*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.top-logo img {
  height: 50px;
  padding-left: 10px;

}

.top-nav a {
  color: white;
  padding-right: 20px;
}

.top-nav {
  display: flex;
}

/*--          main content          --*/
.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mission {
  background-image: url("../images/mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mission-content {
  text-align: center;
  background-color: black;
  width: 100%;

}

/*--          tea container           --*/
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.product-container-title {
  text-align: center;
}

.product-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

}

.product img {
  height: 200px;
  width: 300px;
}

.product {
  margin: 10px 10px;
}


/*--          locations           --*/
.locations-container {
  display: flex;
  width: 1200px;
  height: 500px;
  background-image: url("../images/locations-background.jpg");
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.locator {
  display: flex;
  flex-wrap: wrap;
}

.location {
  background-color: black;
  width: 300px;
  margin: 15px 20px;
  text-align: center;
  opacity: 1;
}

/*--          footer          --*/
